nav#menu {
    background-color: #333;
    width: 250px;
    padding: 15px;
    margin: 0 auto;
    overflow: hidden;
}

nav#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav#menu ul li {
    padding: 8px 5px;
    margin-bottom: 10px;
    background-color: rgb(9, 255, 0);
}

nav#menu ul li a {
    text-decoration: none;
    color: black; /* Or whatever you prefer */
    display: block; /* Makes hover area cover the whole li */
}

nav#menu ul li a:hover {
    background-color: aqua;
    color: aliceblue;
}
