div#modry{
    background-color: blue;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 500px;
    left: 300px;
}

div#cerveny{
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 50px;
}

div#zluty{
    background-color: yellow;
    width: 300px;
    height: 300px;
    position: relative;
    top: 100px;
    left: 400px;
}