form{
    background-color: blueviolet;
}

form#login{
    background-color: aquamarine;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border:2px solid grey;
    font-family: 'Courier New', Courier, monospace;
}
form#login input::placeholder{
    font-style:italic
    
}